{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="container">
    <div class="card shadow p-2 mt-4">
        <h1 class="card-text text-center h4">{{ category.name }}</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in products %}
        <div class="col">
            <div class="card shadow">
                <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                    <hr>
                    <h4 class="card-text text-center">{{ product.price }}</h4>
                    <hr>
                    <a class="btn btn-info" href="#">Add to Cart</a>
                    <a class="btn btn-primary" href="{{ product.get_absolute_url }}">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}